/* Main Background Image Set */
html {
  position: absolute;
  background: url('../images/background.jpg') center center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style Added To Span Tag For Disclaimer */
span {
  color: red;
}

/* Style Added To Show Item Tags */
  dl, dd, dt {
  text-align: center;
}

/* Style Added  To Make Images Same Size */
img {
  width: 150px;
  height: 150px;
}

/* Style Added To Paragraph Tag */
p {
  color: #0ef216;
}

/* Default to things being centered */
body {
  text-align: center;
}

/* Button Style Added */
button {
  background-color: #005ff9;
  color: black;
}

/* Button Hover Style Added */
button:hover {
  background-color: #0ef216;
}

/* Style Added To H1 Tag */
h1 {
  font-family: 'Quantico', sans-serif;
  text-align: center;
  font-size: 60px;
  padding-top: 60px;
  color: #0ef216;
  text-shadow: 35px 35px 20px #000000;
}

/* Style Added To H3 Tag */
h3 {
  font-family: 'Quantico', sans-serif;
  text-align: center;
  font-size: 40px;
  color: #0ef216;
  text-shadow: 35px 35px 20px #000000;
}

/* Style Added To Scrolling Comments footer */
/* Creates Space At Bottom Of Page For Review Comments */
footer {
  padding-top: 50px;
}

/* Username Textarea Background Style */
input[type="text"], textarea {
  background-color : #0ef216;
  color: black;
}

/* Password Textarea Background Style */
input[type="password"], textarea {
  background-color : #0ef216;
}

/* Number Textarea Background Style */
input[type="number"], textarea {
  background-color : #0ef216;
}

/* Password Submit Background Style */
input[type="submit"], textarea {
  background-color : #0ef216;
  color: black;
}

/* Input Hover Background Style */
input:hover[type="submit"], textarea {
  background-color : #005ff9;
}

/* Style Added To Store Hours  */
.store-hours {
  padding-right: 600px;
  color: #0ef216;
  font-family: 'Quantico', sans-serif;
  text-align: left;
}

/* Style Added To Footer Tag */
.footer {
  font-size: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #0ef216;
  text-align: center;
}

/* Message Telling Vistors To Login To Buy Items */
.members-only {
  text-align: center;
  color: #0ef216;
}

/* Style Added To Login/logout Buttons */
#login-button, #logout-button, #signup-button {
  height: 39px;
  background-color: #0ef216;
  color: black;
}

/* Style Added To login form */
.cred-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: .8;
  text-align: center;
  padding: 30px;
}

/* Style for the login error messages */
.cred-error {
  color: #0ef216;
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

/* The user chat dialog */
.chat-dialog {
  width: 70%;
  min-width: 300px;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
}


/* Style Added To Show Container */
.showitem-container {
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  opacity: .9;
  border-radius: 5%;
  border: 5px solid #1a6df2;
  color: #1a6df2;
  font-family: 'Quantico', sans-serif;
}

/* Style Added To Items In Show Container */
.items-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Style Added To Edit Item Container */
.edititem-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Glow Laser Beam Added Surrounding Header */
.glow {
  animation-name: glow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

/* Key Frames Added For Glow Laser Beam */
@keyframes glow {
    0% {
		border-color: #54e014;
		box-shadow: 0 0 50px rgba(0,255,0,.6), inset 0 0 50px rgba(0,255,0,.6), 0 5px 0 #24590d;
    }
    25% {
    border-color: #1a6df2;
    box-shadow: 0 0 50px rgba(26,109,242,.6), inset 0 0 50px rgba(26, 109, 242,.6), 0 5px 0 #1a6df2;
    }
    50% {
    border-color: #348e0b;
    box-shadow: 0 0 50px rgba(52,142,11,.6), inset 0 0 50px rgba(52,142,11,.6), 0 5px 0 #348e0b;
    }
    75% {
    border-color: #3ca30e;
    box-shadow: 0 0 50px rgba(61,178,8,.6), inset 0 0 50px rgba(61,178,8,.6), 0 5px 0 #3ca30e;
    }
    100% {
		border-color: #54e014;
		box-shadow: 0 0 50px rgba(0,255,0,.6), inset 1 1 50px rgba(0,255,0,.6), 0 5px 0 #5bfc16;
    }
    75% {
    border-color: #3ca30e;
    box-shadow: 0 0 50px rgba(61,178,8,.6), inset 0 0 50px rgba(61,178,8,.6), 0 5px 0 #3ca30e;
    }
    50% {
    border-color: #348e0b;
    box-shadow: 0 0 50px rgba(52,142,11,.6), inset 0 0 50px rgba(52,142,11,.6), 0 5px 0 #348e0b;
    }
    25% {
    border-color: #1a6df2;
    box-shadow: 0 0 50px rgba(26, 109, 242,.6), inset 0 0 50px rgba(26, 109, 242,.6), 0 5px 0 #1a6df2;
    }
    0% {
    border-color: #54e014;
    box-shadow: 0 0 50px rgba(0,255,0,.6), inset 0 0 50px rgba(0,255,0,.6), 0 5px 0 #5bfc16;
    }
}

/* Set the font, lean the board, position it */
#review-board {
  font-family: 'Quantico', sans-serif;
  transform: perspective(700px) rotateX(35deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  overflow: hidden;
  font-size: 120%;
  height: 80%;
  width: 18em;
  bottom: 80%;
  left: 50%;
}

#review-board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Scrolling Animation and Position It */
#reviews {
  animation: scroll 45s linear 1s;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 100%;
}

/* Keyframes Added For Scroll Text Animation */
@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -150%;
    }
}
