<div class="items-container">
<div class="edititem-container">
<form ng-submit="ctrl.editItem(product);"><br/>
  <input type="text" ng-model="ctrl.updatedName" placeholder="{{product.name}} name" /><br/>
  <input type="text" ng-model="ctrl.updatedImg" placeholder="image" /><br/>
  <input type="number" ng-model="ctrl.updatedQty" placeholder="{{product.qty}} quantity" /><br/>
  <input type="number" ng-model="ctrl.updatedPrice" placeholder="{{product.price}} price" /><br/>
  <input type="submit" value="Update Item">
</form>
</div>
</div>



<!-- ng-if=ctrl.editItem==$item -->


<!-- <div class="edititem-container">
<form ng-submit="ctrl.editItem(item);">
  <input type="text" ng-model="ctrl.updatedName" placeholder="{{item.name}} name" />
  <input type="text" ng-model="ctrl.updatedImg" placeholder="image" />
  <input type="number" ng-model="ctrl.updatedQty" placeholder="{{item.qty}} quantity" />
  <input type="number" ng-model="ctrl.updatedPrice" placeholder="{{item.price}} price" />
  <input type="submit" value="Update Item">
</form>
</div> -->
