<div class="showitem-container">
  <div class="items-container">
    <dl ng-repeat="product in ctrl.items"><br/>
      <dt>{{ product.name }}</dt><br/>
      <dt><img ng-src="{{product.img}}"/></dt><br/>
      <dt>Quantity: &nbsp; {{ product.qty }}</dt><br/>
      <dt>Price: &nbsp; ${{ product.price }}</dt><br/>

      <!-- <% if (items.quantity <= 0) { %>
      <h4 class="out-of-stock"> OUT OF STOCK </h4>
      <% } else { %> -->

      <button href="#" ng-if="ctrl.curUser" ng-click="ctrl.getItem(product)">Buy</button><br/>

      <!-- <% } %> -->

      <div ng-if="$index != ctrl.indexOfEditFormToShow">
      <button ng-if="ctrl.curUser"
      ng-click="ctrl.indexOfEditFormToShow = $index"> Edit </button>
      </div>

      <button href="#" ng-if="ctrl.curUser" ng-click="ctrl.deleteItem(product)">Delete Item</button><br/>



      <div class="edititem-container">
        <form ng-if="$index === ctrl.indexOfEditFormToShow" ng-submit="ctrl.editItem(product);"><br/>
        <input type="text" ng-model="ctrl.updatedName" placeholder="{{product.name}}" /><br/>
        <input type="text" ng-model="ctrl.updatedImg" placeholder="image" /><br/>
        <input type="number" ng-model="ctrl.updatedQty" placeholder="{{product.qty}}" /><br/>
        <input type="number" ng-model="ctrl.updatedPrice" placeholder="{{product.price}}" /><br/>
        <input type="submit" value="Update Item">
        </form>
      </div>

    </dl>

    <div class="members-only" ng-hide="ctrl.curUser" >
      <h3>Sign Up and Login In For Access</h3>
      <h6><span>Disclaimer:</span> We shall not be liable for any<br/>
        loss or damage of whatever nature (direct, indirect<br/>
        consequential, or other) which may arise as a result of your<br/>
        inability to use this website.
    </div>
