<div class="showitem-container">

  <div class="members-only" ng-hide="ctrl.curUser" >
    <h3>Sign Up and Login In For Access</h3>
    <h6><span>Disclaimer:</span> We shall not be liable for any<br/>
      loss or damage of whatever nature (direct, indirect<br/>
      consequential, or other) which may arise as a result of your<br/>
      inability to use this website.
  </div>

  <div class="items-container">
    <dl ng-repeat="product in ctrl.items | orderBy: 'name'"><br/>
      <!-- Hide the display content when the edit dialog is open -->
      <div ng-hide="$index === ctrl.indexOfEditFormToShow">
        <dt>{{ product.name }}</dt><br/>
        <dt><img ng-src="{{product.img}}"/></dt><br/>
        <dt>Quantity: &nbsp; {{ product.qty }}</dt><br/>
        <dt>Price: &nbsp; ${{ product.price }}</dt><br/>

        <dt ng-if="ctrl.curUser && product.qty <= 0">SOLD OUT</dt>
        <button ng-if="ctrl.curUser && product.qty > 0">Buy</button><br/>

        <button class="admin-btn" ng-if="ctrl.canEdit()"
          ng-click="ctrl.editClicked(product, $index)">Edit</button>

        <button class="admin-btn" ng-if="ctrl.canEdit()"
          ng-click="ctrl.deleteItem(product)">Delete</button>
      </div>
      <!-- Only show the edit form when the admin presses the edit button -->
      <div class="edititem-container" ng-if="$index === ctrl.indexOfEditFormToShow">
        <form ng-submit="ctrl.editItem(product);"><br/>
          <input type="text" ng-model="ctrl.updatedName" placeholder="name"/><br/>
          <input type="text" ng-model="ctrl.updatedImg" placeholder="image"/><br/>
          <input type="number" ng-model="ctrl.updatedQty" placeholder="quantity"/><br/>
          <input type="number" ng-model="ctrl.updatedPrice" placeholder="price"/><br/>
          <button type="button" class="cancel-edit" ng-click="ctrl.indexOfEditFormToShow = -1">Cancel</button>
          <input type="submit" value="Update">
        </form>
      </div>

    </dl>

  </div>

</div>
